.headerText {
    text-align: center;
}

.headerPadding {
    padding-top: 10px;
}

.footerText {
    text-align: center;
    margin-top: auto;
}

.content {
    flex-shrink: 0;
}
   
.footer {
    margin-top: auto;
}